<ion-view view-title="TelinMY">
  <ion-content ng-controller="entryCtrl">
		<br>
		<br>
    <div class="list">
			<label class="item item-input">
				<span class="input-label">User Name</span>
				<input type="text" placeholder="..." ng-model="txtUsrNm">
			</label>
			<label class="item item-input">
				<span class="input-label">Outlet Name</span>
				<input type="text" placeholder="..." ng-model="txtNm">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Type
				</div>
				<select ng-model="txtType">
					<option value="Kedai Telco">Kedai Telco</option>
					<option value="Kedai Runcit">Kedai Runcit</option>
					<option value="Kedai Makan">Kedai Makan</option>
					<option value="Kongsi">Kongsi</option>
					<option value="Hostel">Hostel</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Size
				</div>
				<select ng-model="txtSize">
					<option value="Big">Big</option>
					<option value="Small">Small</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">Address</span>
				<input type="text" placeholder="..." ng-model="txtAddr">
			</label>
			<label class="item item-input">
				<span class="input-label">PIC</span>
				<input type="text" placeholder="..." ng-model="txtPic">
			</label>
			<label class="item item-input">
				<span class="input-label">Phone Number</span>
				<input type="text" placeholder="..." ng-model="txtPhone">
			</label>
			<label class="item item-input">
				<span class="input-label">Pos Code</span>
				<input type="text" placeholder="..." ng-model="txtPos">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-balanced" on-tap="actEntry()">
				Save and Assign Location
			</button>
		</div>
  </ion-content>
</ion-view>
