<ion-view view-title="TelinMY">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
  <ion-content ng-controller="infoCtrl">
		<img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?center={{latLong}}&zoom=18&size=400x400&markers=color:red%7Clabel:A%7C{{latLong}}">
   
		<p>
			<table width="100%">
				<tr>
					<td width="40%" style="padding:3px;text-align:right">Outlet Name</td>
					<td width="60%" style="padding:3px;text-align:left">{{name}}</td>
				</tr>
				<tr>
					<td style="padding:3px;text-align:right">Address</td>
					<td style="padding:3px;text-align:left">{{address}}</td>
				</tr>
				<tr>
					<td style="padding:3px;text-align:right">Owner</td>
					<td style="padding:3px;text-align:left">{{pic}}</td>
				</tr>
				<tr>
					<td style="padding:3px;text-align:right">Phone Number</td>
					<td style="padding:3px;text-align:left">{{phone}}</td>
				</tr>
			</table>
		</p>
		<div class="padding">
			<button class="button button-block button-balanced" on-tap="actEntry()">
				Transaction Entry
			</button>
		</div>
  </ion-content>
</ion-view>
