<ion-view view-title="TelinMY" ng-controller="maintenanceAllCtrl">
	<ion-nav-bar class="bar-assertive nav-title-slide-ios7" align-title="center">
		<ion-nav-buttons side="left" class="button-clear">
			<button class="button button-clear" on-tap="backView()">    
			<i class="icon ion-ios7-arrow-back"></i> Back
			</button>    
		</ion-nav-buttons>
		<!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
		
	</ion-nav-bar>
  <ion-content ng-controller="maintenanceCtrl">
		<br>
		<br>
    <ion-radio ng-model="optMain" ng-value="'scan'">QR Scan Outlet</ion-radio>
		<ion-radio ng-model="optMain" ng-value="'entry'">Entry ID Outlet</ion-radio>
		<div class="padding">
			<a class="button button-block button-balanced" on-tap="actSubmit()">
				Submit
			</a>
		</div>
		<script id="entryId.html" type="text/ng-template">
	<div class="modal">
		<header class="bar bar-header bar-positive">
			<h1 class="title">Entry ID Outlet</h1>
			<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
		</header>
		<content has-header="true" padding="true">
			<br><br><br><br><br>
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="ID Outlet..." ng-model="entId">
				</label>
			</div>
			<a class="button button-block button-balanced" on-tap="actCheck(entId)">
				Check Outlet
			</a>
		</content>
	</div>
</script>
  </ion-content>
	
	

</ion-view>

