<ion-view title="TelinMY" ng-controller="stockListCtrl">
	<ion-nav-bar class="bar-assertive nav-title-slide-ios7" align-title="center">
		<!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
		<ion-nav-buttons side="left" class="button-clear">
			<button class="button button-clear" on-tap="backView()">    
			<i class="icon ion-ios7-arrow-back"></i> Back
			</button>    
		</ion-nav-buttons>
	</ion-nav-bar>
	
	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model="inpSearch">
		</label>
		<button class="button button-clear" on-tap="actSearch()">
			Search
		</button>
	</div>
	
	
  <ion-content class="padding">
		<br>
		<br>
		<div class="list">
			<span ng-repeat="item in dataList">
				<a class="item item-icon-right" on-tap="actAlloc(item.lookup_code,item.lookup_type)">
					{{item.lookup_code}}<br>
					{{item.lookup_value}}
					<i class="icon ion-plus"></i>
				</a>
			</span>
		</div>
  </ion-content>
	<div class="tabs tabs-assertive">
		<a class="tab-item" on-tap="actLoadMore()">
			Load More
		</a>
	</div>
</ion-view>